[SddmGreeterTheme]
Name=OFTC 2.0
Description=Based on the glorious Sweet sddm theme
Author=Dennis de Houx
Copyright=(c) 2022, One For The Code
License=GPL 3+
Type=sddm-theme
Version=2.0
Website=https://github.com/OneForTheCode
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=dennis@oftc.be
Theme-Id=OFTC-2
Theme-API=2.0
